<h1>Proyectos</h1>

<%= link_to 'Nuevo proyecto', new_proyecto_path %>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Descripción</th>
      <th scope="col" colspan="2"></th>
    </tr>
  </thead>
  <tbody>
  <% @proyectos.each do |proyecto| %>
    <tr>
      <td><%= proyecto.nombre %></td>
      <td><%= proyecto.descripcion %></td>
      <td><%= link_to 'Mostrar', proyecto_path(proyecto) %></td>
      <td><%= link_to 'Editar', edit_proyecto_path(proyecto) %></td>
      <td><%= link_to 'Destruir', proyecto_path(proyecto),
              method: :delete,
              data: { confirm: '¿Estás seguro?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>
