<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><%= link_to 'Proyectos', proyectos_path %></li>
    <li class="breadcrumb-item"><%= link_to @proyecto.nombre, proyecto_path(@proyecto) %></li>
    <li class="breadcrumb-item"><%= link_to @requerimiento.nombre, proyecto_requerimiento_path(:id => @requerimiento.id) %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @tarea.descripcion %></li>
  </ol>
</nav>

<h2>Tarea: <%= @tarea.descripcion %></h2>
<hr>
<div class="row">
  <div class="col-sm-6">
    <form>
      <fieldset disabled>
        <div class="form-group row">
          <label for="nombreProyecto" class="col-sm-4 col-form-label">Proyecto</label>
          <div class="col-sm-8">
            <input type="string" class="form-control" id="nombreProyecto" value="<%= @proyecto.nombre %>">
          </div>
        </div>
        <div class="form-group row">
          <label for="nombreRequerimiento" class="col-sm-4 col-form-label">Requerimiento</label>
          <div class="col-sm-8">
            <input type="string" class="form-control" id="nombreRequerimiento" value="<%= @requerimiento.nombre %>">
          </div>
        </div>
        <div class="form-group row">
          <label for="estadoTarea" class="col-sm-4 col-form-label">Estado de la tarea</label>
          <div class="col-sm-8">
            <input type="string" class="form-control" id="estadoTarea" value="<%= @tarea.estado %>">
          </div>
        </div>
        <div class="form-group row">
          <label for="recursoAsignado" class="col-sm-4 col-form-label">Recurso asignado</label>
          <div class="col-sm-8">
            <input type="string" class="form-control" id="recursoAsignado" value="<%= @tarea.empleado %>">
          </div>
        </div>
        <div class="form-group row">
          <label for="horasEstimadas" class="col-sm-4 col-form-label">Horas estimadas</label>
          <div class="col-sm-8">
            <input type="integer" class="form-control" id="horasEstimadas" value="<%= @tarea.horas_estimadas %>">
          </div>
        </div>
        <div class="form-group row">
          <label for="horasCargadas" class="col-sm-4 col-form-label">Horas cargadas</label>
          <div class="col-sm-8">
            <input type="integer" class="form-control" id="horasCargadas" value="<%= @tarea.registro_horas.sum(:horas) %>">
          </div>
        </div>
      </fieldset>
    </form>
    <p>
      <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#cargaDeHoras"
              aria-expanded="false" aria-controls="cargaDeHoras" id="cargar_horas">
        Cargar horas
      </button>
    </p>

    <div class="collapse" id="cargaDeHoras">
      <div class="card card-body">
        <h3>Cargar horas</h3>
        <div>
        <div id="div_result" class="alert alert-danger" role="alert" style="display: none;">
            <p id="result"></p> 
        </div>
        </div>
        <%= form_with(model: [ @proyecto, @requerimiento, @tarea, @tarea.registro_horas.build ], class: "needs-validation", local: true) do |form| %>
          <div class="form-group">
            <%= form.label :horas %><br>
            <%= form.number_field :horas, :class => "form-control", :required => true, placeholder: "horas" %>
            <div class="invalid-feedback">
              Porfavor ingrese un número.
            </div>
          </div>
         
          <div class="form-group">
            <%= form.label :fecha %><br>
            <%= form.date_field :fecha, :class => "form-control", :value => Time.now.strftime('%Y-%m-%d'), :required => true %>
          </div>
          <div class="form-group">
            <%= form.submit "Cargar horas" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <h3>Horas cargadas</h3>
    <p>
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Horas</th>
          </tr>
        </thead>
        <tbody>
        <% @tarea.registro_horas.each do |registro_hora| next if registro_hora.new_record? %>
          <tr>
            <td><%= registro_hora.fecha %></td>
            <td><%= registro_hora.horas %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </p>
  </div>
</div>

<!-- JavaScript validation for create registro_hora -->
<script>
  (function() {
      'use strict';
      window.addEventListener('load', function() {
      var forms = document.getElementsByClassName('needs-validation');
      
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          if (!hora_valida()){
            event.preventDefault();
            event.stopPropagation();
            $("alert").alert();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();

function hora_valida(){
  var result = document.getElementById("result");
  var div_result = document.getElementById("div_result");
  var hora = Number(document.getElementById("registro_hora_horas").value);
  
  if (hora > 8){
    result.innerHTML =  "La hora debe ser menor a 8 hs";
    div_result.style.display = "block";
    return false;
  }

  var horas_estimadas = Number(document.getElementById("horasEstimadas").value);
  var horas_cargadas = Number(document.getElementById("horasCargadas").value);
  if ((horas_cargadas + hora) > horas_estimadas){
    result.innerHTML =  "La hora debe ser menor a " + (horas_estimadas - horas_cargadas) + " hs";
    div_result.style.display = "block";
    return false;
  }
  return true;
}

</script>