<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><%= link_to 'Proyectos', proyectos_path %></li>
    <li class="breadcrumb-item"><%= link_to @proyecto.nombre, proyecto_path(@proyecto) %></li>
    <li class="breadcrumb-item"><%= link_to @requerimiento.nombre, proyecto_requerimiento_path(:id => @requerimiento.id) %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @tarea.descripcion %></li>
  </ol>
</nav>

<h2><%= @tarea.descripcion %></h2>
<hr>
<p>
  <strong>Estado:</strong>
  <%= @tarea.estado %>
</p>

<p>
  <strong>Empleado asignado:</strong>
  <%= @tarea.empleado %>
</p>

<p>
  <strong>Horas estimadas:</strong>
  <%= @tarea.horas_estimadas %>
</p>
<hr>
<h3>Horas cargadas</h3>
<p>
  <strong>Total:</strong>
  <%= @tarea.horas_cargadas %>
</p>
<p>
  <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#cargaDeHoras" aria-expanded="false" aria-controls="cargaDeHoras">
    Cargar horas
  </button>
</p>

<div class="collapse" id="cargaDeHoras">
  <div class="card card-body">
    <h3>Cargar horas</h3>
    <%= form_with(model: [ @tarea.registro_horas.build ], local: true) do |form| %>

      <div class="form-group">
        <%= form.label :horas %><br>
        <%= form.number_field :horas, :class => "form-control"  %>
      </div>
      <div class="form-group">
        <%= form.label :fecha %><br>
        <%= form.date_field :fecha, :class => "form-control"  %>
      </div>
      <div class="form-group">
        <%= form.submit %>
      </div>
    <% end %>
  </div>
</div>
<p>
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Recurso</th>
        <th scope="col">Fecha</th>
        <th scope="col">Horas</th>
      </tr>
    </thead>
    <tbody>
    <% @tarea.registro_horas.each do |registro_hora| next if registro_hora.new_record? %>
      <tr>
        <th scoe="row"><%= tarea.id %></td>
        <td><%= horas_cargada.recurso %></td>
        <td><%= horas_cargada.fecha %></td>
        <td><%= horas_cargada.horas %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</p>

<hr>

<hr>
<%= link_to 'Cargar horas', edit_proyecto_requerimiento_tarea_path(@tarea.requerimiento.proyecto, @tarea.requerimiento, @tarea),
    :class => "btn btn-secondary btn-sm" %>
<%= link_to 'Atrás', proyecto_requerimiento_path(:id => @requerimiento.id),
    :class => "btn btn-secondary btn-sm" %>
