<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><%= link_to 'Proyectos', proyectos_path %></li>
    <li class="breadcrumb-item"><%= link_to @proyecto.nombre, proyecto_path(@proyecto) %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @requerimiento.nombre %></li>
  </ol>
</nav>

<h2>Editar requerimiento</h2>

<%= form_for ([@proyecto, @requerimiento]) do |form| %>
  <div class="form-group">
    <%= form.label :nombre %><br>
    <%= form.text_field :nombre, :class => "form-control"  %>
  </div>
  <div class="form-group">
    <%= form.label :descripcion %><br>
    <%= form.text_area :descripcion, :class => "form-control"  %>
  </div>
  <div class="form-group">
    <%= form.submit "Editar requerimiento", :id => "editar_requerimiento" %>
  </div>
<% end %>

<%= link_to 'Atrás', proyecto_path(@proyecto),
    :class => "btn btn-secondary btn-sm" %>
